@model Obligatorio.Dominio.Vacunacion
<h1>REGISTRO DE VACUNACIÓN</h1>
<hr />
<br />
<form method="post">
    <table>
        <thead>
        </thead>
        <tbody>
            <tr>
                <td><label>Número de Caravana: </label></td>
                <td>
                    <select name="numCaravana">
                        @foreach (var item in @ViewBag.Ganados)
                        {
                            <option value="@item.NumCaravana">@item.NumCaravana</option>
                        }
                    </select>

                </td>
            </tr>
            <tr>
                <td><label>Nombre de Vacuna: </label></td>
                <td>
                    <select name="nombreVacuna">
                        <option value="Fiebre aftosa">Fiebre aftosa</option>
                        <option value="Brucelosis">Brucelosis</option>
                        <option value="Tuberculosis bovina">Tuberculosis bovina</option>
                        <option value="Leptospirosis">Leptospirosis</option>
                        <option value="Fiebre del Valle del Rift">Fiebre del Valle del Rift</option>
                        <option value="Clostridiosis">Clostridiosis</option>
                        <option value="Enfermedad de la mucosa">Enfermedad de la mucosa</option>
                        <option value="Peste Bovina">Peste Bovina</option>
                        <option value="Rabia">Rabia</option>
                        <option value="Amigdala de vaca">Amigdala de vaca</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" name="Vacunar" value="Vacunar" /></td>
            </tr>
        </tbody>
    </table>
    <hr />
</form>
@ViewBag.Mensaje

