@model Obligatorio.Dominio.Ganado
<h1>Mostrar Animal</h1>
<br />
<form method="post">
    <label name="pesoGanado">Ingrese mínimo peso a Mostrar:</label>
    <input type="number" name="pesoGanado" />
    <br />
    <br />
    <label>Tipo de Animal:</label>
    <select name="tipoAnimal">
        <option value="Bovino">Bovino</option>
        <option value="Ovino">Ovino</option>
    </select>
    <br />
    <br />
    <input type="submit" value="Mostrar" />
    <hr />
</form>

